@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}





/* ========================================
    レイアウト用
========================================= */
body {
	background: #fff;
	border-top: 5px solid #000000;
}

div#wrapper {
	width: 960px;
	margin: 0 auto;
}


/* ========================================
    ヘッダー用
========================================= */
header {
	width: 950px;
	height: 49px;
	padding: 20px 0;

}

header h1 {
	font-size: 16px;
	color: #000000;
	background: url(img/hairsalonzzz.jpg) no-repeat;
	background-size: 40px;
	background-position: bottom 0px right 45px;
	padding-left: 0px;
	line-height: 1;
	height: 49px;
	float: left;
	letter-spacing: 5px;
	text-align: center;
}

header h1 span {
	font-size: 33px;
	color: #000000;
	margin-top: 10px;
	display: inline-block;
}

header nav {
	float: right;
	margin-top: 36px;

}

header nav ul li {
	float: left;
	margin-left: 29px;
}

header nav ul li:hover {
	display: inline-block;
}

header nav ul li a {
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	height: 26px;
	display: inline-block;
}

header nav ul li:hover a {
	color: #4f4f4f;
	border-bottom: 4px solid #4f4f4f;
}

div.clear {
	clear: both;
}




/* ========================================
    メイン画像用
========================================= */
div#mainimage {
	width: 950px;
	height: 290px;
	margin: 10px 0px 10px 0px;
}




/* ========================================
    コンテンツ（レフト）
========================================= */
div#left {
	width: 555px;
	height: auto;
	background-color: #fff;
	float: left;
	margin-right: 20px;
	padding: 10px;
}

div#left h2 {
	font-size: 17px;
	font-weight: normal;
	color: #000000;
	border-left: 5px solid #4f4f4f;
	padding-left: 10px;
	letter-spacing: 5px;
}

div#left ul {
	overflow-y: scroll;
	width: 555px;
	height: 200px;
}

div#left ul li {
	font-size: 13px;
	font-weight: normal;
	color: #927e7a;
	border-bottom: 1px dashed #4f4f4f;
	line-height: 32px;
}

div#left ul li span {
	font-size: 12px;
	font-weight: normal;
	color: #b5b3b3;
	margin-right: 15px;
}



/* ========================================
    サイド（ライト）
========================================= */
div#right {
	width: 360px;
	height: 198px;
	float: left;
}

div#right ul li {
	line-height: 60px;
	margin-bottom: 20px;
	background-color: #4f4f4f;
	border-radius:10px 10px 10px 10px;
}

div#right ul li a {
	width: 50%;
	height: 60px;
	display: block;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	padding-left: 100px;
	letter-spacing: 5px;
	text-align: center;
}
a:hover {
	opacity: 0.6;
  }


div.clear {
	clear: both;
}




/* ========================================
    フッター用
========================================= */
footer {
	width: 100%;
	height: 100px;
	background-color: #000000;
	margin-top: 20px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 100px;
}


/* ========================================
    menuメイン画像用
========================================= */
div#menumainimage {
	width: 950px;
	height: 220px;
	margin: 10px 0px 10px 0px;
}

/* ========================================
    メニュー一覧
========================================= */

div#left h3 {
	font-size: 17px;
	font-weight: normal;
	color: #000000;
	border-left: 5px solid #4f4f4f;
	padding-left: 10px;
	letter-spacing: 5px;
}

div#left dl {
	margin-top: 10px;
}

div#left dl dt {
	font-size: 18px;
	font-weight: normal;
	color: #4f4f4f;
	margin-left: 20px;
}

div#left dl dd {
	font-size: 15px;
	font-weight: normal;
	color: #4f4f4f;
	margin-left: 40px;
	margin-bottom: 20px;
}

div#left dl dd:last-child {
	margin-bottom: 0;
}

div#left {
	width: 555px;
	height: auto;
	background-color: #fff;
	float: left;
	margin-right: 20px;
	padding: 10px;
}

div#left dl dd span {
	font-size: 12px;
	font-weight: normal;
	color: #b5b3b3;
	margin-right: 15px;
}

/* ========================================
    コンタクトページ
========================================= */
p#contact_text {
	color: #927e7a;
	font-size: 12px;
	line-height: 18px;
	background-color: #ffefea;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

td.form_title {
	width: 131px;
	height: 32px;
	font-size: 15px;
	color: #734339;
	vertical-align: top;
}

td.form_title label {
	font-weight: bold;
}

td.form_contents {
	font-size: 13px;
	color: #a6a6a6;
}

td.form_contents input#form_name,
td.form_contents input#form_tel {
	width: 421px;
	height: 22px;
}

td.form_contents input.form_time {
	width: 47px;
	height: 22px;
	margin-right: 5px;
	display: inline-block;
}

td.form_contents textarea {
	width: 421px;
	height: 83px;
	border: 1px solid #a6a6a6;
}

p#submit {
	text-align: right;
}

p#submit input {
	background-color: #325a37;
	border: none;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	width: 136px;
	height: 40px;
}

p#submit input:hover {
	cursor: pointer;
	opacity: 0.8;
}
